* {
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Baloo Bhaina', 'cursive';
	
}
a {
	display: block;
}
body {
	margin: 0;
	background-image: url('img/pattern.jpg');

}
nav {
	text-align: center;
}
nav a {
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 0 0 3px #000;
	color: #fff;
}
section.hero {
	margin: 8% auto;
	width: 70%;
	text-align: center;
	text-shadow: 0 0 3px #000;
	font-weight: bolder;
	color: #fff;
}

section.hero p {
	margin: 0;
	font-size: 4em;
}

section.hero h1 {
	margin: 0;
	font-size: 10em;
}

section.hero h3 {
	margin: 0;
	font-size: 5em;
}

section.about {
	width: 85%;
	margin: 0 auto;
	padding: 15px;
	background-color: #fff;
	text-align: center;
}
section h2 {
	font-size: 2.4em;
}
section.about p {
	font-family: 'sans-serif';
	font-size: 1.3em;
}
section.about #inline {
	display: inline;
}
section.about img {
	max-width: 550px;
}